
    <h1 class="text-center mt-5">Ajouter Recette</h1>
    <form (ngSubmit)="addArticle()">
    <div class="mx-auto w-75 mt-5">
      <label for="exampleFormControlInput1" class="form-label">Titre</label>
      <input type="text" name="titre" class="form-control" id="exampleFormControlInput1" placeholder="Titre"[(ngModel)]="article.titre">
    </div>
    <div class="mx-auto w-75 mt-3">
      <label for="formFile" class="form-label">Image</label>
      <input class="form-control" type="file" name="image" id="formFile"(change)="changeFile($event)">
    </div>    
    <!-- $event vai chamar a funçao que existe no change file no ts  -->
    <div class="mx-auto w-75 mt-3">
      <label for="exampleFormControlTextarea1" class="form-label">Ingredients</label>
      <textarea class="form-control" name="ingredients" id="exampleFormControlTextarea1" rows="3"placeholder="Ingredients"[(ngModel)]="article.ingredients"></textarea>
    </div>
    <div class="mx-auto w-75 mt-3">
      <label for="exampleFormControlTextarea1" class="form-label">Preparation</label>
      <textarea class="form-control" name="preparation" id="exampleFormControlTextarea1" rows="3"placeholder="Preparation" [(ngModel)]="article.preparation"></textarea>
    </div>
    <div class="mx-auto w-75 mt-3">
    <select name="category" [(ngModel)]="article.category" (change)="select()" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option *ngFor="let item of categories" [ngValue]="item.id">{{item.label}}</option>
    </select>
  </div>
    <div class=" col text-center  mt-5 p-5">
    <button type="submit" class="btn btn-secondary">Ajouter Recette</button>
  </div>
  </form>
