
    <div>
        <h2>Modification de l'opération</h2>
        <form (ngSubmit)="update()">
            <label for="title">Title :</label>
            <input [(ngModel)]="article!.titre" type="title" name="titre" id="title">
            <br>
            <label for="text">ingredients:</label>
            <input [(ngModel)]="article!.ingredients" type="text" name="ingredients" id="ingredients">
            <br>
            <label for="image">preparation:</label>
            <input [(ngModel)]="article!.preparation" type="text" name="preparation" id="preparation">
            <br> 
            <input type="submit" value="Save" />
          </form>
    </div>
