<!-- 
<div class="card mb-3 w-75 mx-auto mt-5">
  
  <img class="card-img-top" src="/assets/image/CroqueDeCarne-2071782.jpg" alt="Card image cap" width="700" height="500">
  <div class="card-body p-4">
      <h1 class="card-title text-center">Cuisine brésilienne en français</h1>
      <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>
  </div>
</div> -->

<div class="card bg-dark text-white">
  <img src="/assets/image/CroqueDeCarne-2071782.jpg" class="card-img" alt="Image Recette" >
  <div class="card-img-overlay">
    <div class=" cari title text-center ">
    <h1 class="card-title1">Cuisine brésilienne en français</h1>

  </div>
  </div>
</div>

<h1 class="text-center my-3 mt-5">Recettes </h1>

<div class="col-md-4">
  <h3>Filter</h3>
<app-category (selection)="filter($event)"> </app-category>
<!-- vai liagar o que esta dentro do component category html -->
</div>
<div class="row g-3 m-4 " >

  <div *ngFor="let article of articles" class=" col-md-4">
      
<div class="card">
    <img class="img-thumbnail" src="http://localhost:8080/image/{{article.image}}" alt="recettes">
    <div class="card-body">
      <h3 class="card-title">{{article.titre}}</h3>
      <h4>Ingredients:</h4>
      <p class="card-text">{{article.ingredients}}</p>
      <h4>Preparation:</h4>
      <p class="card-text">{{article.preparation}}</p>
      <h4>Date de publication :</h4>
      <p class="card-text">{{article.date}}</p>
      <div class="text-center">
      <a href="#" class="btn btn-primary" routerLink="/article/{{article.id}}">En savoir plus</a>
      </div>
    </div>
  </div> 
</div>


